@mixin titulo($cor){
    font-size: 80px;
    line-height: 97px;
    color: $cor;
}


* {
    // border: 1px dashed rgb(219, 21, 160);
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background: #141620;
}

nav{
    padding: 1.5rem;
    color: white;
    background: #141620;
    .nav-link{
        color: white;
        &:hover{
            background: #C0F64D;
        }
    }
    .navbar-text{
        color: #C0F64D;
    }
    
}
